version: '3.8'

services:

  askme:
    build: microservices/ask-me-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker,kafka
    depends_on:
      kafka:
        condition: service_healthy

  distributor:
    build: microservices/distributor-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker,kafka
    depends_on:
      kafka:
        condition: service_healthy

  timeservice:
    build: microservices/time-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker,kafka
    depends_on:
      kafka:
        condition: service_healthy

  dateservice:
    build: microservices/date-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker,kafka
    depends_on:
      kafka:
        condition: service_healthy

  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - ALLOW_PLAINTEXT_LISTENER=yes